*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    
}
#header{
    min-height: 100vh;
    width: 100%;
    background-image: url(read2.png);
    background-position: center;
    background-size: cover;
    position: relative;
    
}
html{
    scroll-behavior: smooth;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    color: blue;
    width: 30px;
    background: #929664;
    border-radius: 80px;

}
nav p{
    font-size: 25px;
    font-family: Chiller;
    color:#fff;
    font-weight:200;
    margin-left:2px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color:#daddb1;
    text-decoration: none;
    font-size: 13px;
    font-weight: 600;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 7px;
    background: #fff;
    display: block;
    margin: auto;
    transition: 0.1s;
    border-radius: 800px;
}
.nav-links ul li:hover::after{
    width: 18%;
}
.text-box{
    width: 90%;
    color: #db362ae7;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 90px;
    font-weight: 20;
    color: white;
}

.text-box p{
     margin: 10px 0 40px;
     font-size: 17px;
     color: #d9dda6;
     font-weight:100;
     font-family:sans-serif;
}
form input{
    width: 23%;
    height: 28px;
    border-radius: 25px;
    font-size: 14px;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color:rgb(247, 247, 247);
    border: 1px solid #daddb1;
    padding: 12px 12px;
    font-size: 13px;
    background:#929664;
    position: relative;
    cursor: pointer;
    font-weight: 200;
    border-radius: 30px;
    transition: 0.3s;
}
.hero-btn:hover{
    border: 1px solid #daddb1;
    background:#929664;
    transition: 1s;
    color: rgb(247, 247, 247);
    transform: translateY(-20px
    );
}
nav .fa{
    display: none;
}

@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;

    }
    .nav-links{
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index:2 ;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;

    }
    .nav-links ul{
        padding: 30px;

    }
}
#header-1{
    width: 100%;
    min-height: 60vh;
    display: flex;
    flex-wrap: wrap;
}
.col-2{
    flex-basis: 30%;
    flex-grow: 1;
 background-size: cover;
background-position: center;
    overflow: hidden;

}
.col-2 img{
    width: 600px;
    background-size: contain;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;

}
.col-1{
    flex-basis: 30%;
    flex-grow: 1;
    padding: 40px 80px;
    background: rgb(255, 254, 253);
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    height: 48vh;

}
.left-content h1{
    font-size: 40px;
    color:#929664;
    margin-bottom: 20px;

}
.left-content h1::after{
    content: '';
    width: 150px;
    min-height: 3px;
    background:#929664;
    display: block;
    margin-left:3px;
}
.left-content p{
    font-size: 15px;
}
.line{
    min-height:7px;
    width:100%;
    background: #238680;
    margin-top: 700px;
}
.more-btn{
    display: inline-block;
    text-decoration: none;
    color:rgb(247, 247, 247);
    border: 0px solid #daddb1;
    padding: 15px 35px;
    font-size: 10px;
    background:#929664;
    position: relative;
    cursor: pointer;
    font-weight: bolder;
    transition: 0.5s;
    margin-top: 25px;
    letter-spacing: 1px;
}
.more-btn img{
    width: 13px;
    transform: translateY(1.5px);
     transform:translateX(18px) ;



}
.more-btn:hover{
     border: 1px solid #daddb1;
    background:#929664;
    transition: 1s;
    color: rgb(247, 247, 247);
    transform: translateY(-5px
    );

}

/*--Second line --*/
#second-line{
    width: 100%;
    min-height:60vh;
    position: relative;

}
#second-line .books{
    width: 30px;
    transform: translateY(3px);
}

#second-line h1{
    text-align: center;
    color:#929664;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 30px;
}
.container{
    width: 100%;
    background: #fff;
    height: 70vh;
}
.container p{
    text-align: center;
    font-size: 20px;
}
.program-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
    padding: 60px 60px;
    height: 80vh;


}
.program-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius:50px;
    transition: background 0.5s, transform 0.5s;

}
.program-list div h2{
    font-size: 25px;
    text-align: center;
    color: white;
    margin-bottom: 10px;
}
.program-list div p{
    font-size: 15px;
    text-align: left;
    color: white;
}
.program-list div ul li{
       font-size: 16px;
       margin-top: 20px;
       color: #fff;

}
.program-list div:hover{
    background:#929664;
    transform: translateY(10px); 
    cursor: pointer;
    

}
.program-list div h2:hover, .program-list div:hover{
    color: black;

}
.program-list img{
    transform: translateX(125px);
    width: 40px;
    background: white;
    border-radius: 30px;
}
.program-list .more{
    width: 25px;
    transform: translateY(150px);
    margin-left: 133px;
    background: none;
}
#header-2{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    margin-top: 400px;
}
.col-3{
    flex-basis: 30%;
    flex-grow: 1;
    padding: 40px 80px;
    background: white;
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    height: 48vh;

}
.col-4{
    flex-basis: 30%;
    flex-grow: 1;
 background-size: cover;
background-position: center;
    overflow: hidden;
    position: relative;


}
.col-4 img{
    width: 580px;
    background-size: contain;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 30px;
    transition: transform 0.5s;
    display: block;

}
.content h1{
     font-size: 50px;
    color:#929664;
    margin-bottom: 20px;

}
.content p{
    font-size: 40px;
    color: black;
    margin-bottom: 20px;
}
.content .news{
    width: 30px;
}
.content ul li a{
    font-size:20px;
    color: black;
    text-decoration: none;
}
.content ul li a:hover{
    color: blue;
}
.player{
    width: 80%;
    height: 0;
    background:
    border-radius: 40px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;

}
.player h3{
    font-weight: 500;
    margin-bottom: 20px;
    color: white;
}
.player p{
    color: white;
}
.player a{
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    color: black;
}
.col-4:hover img{
    transform: scale(1.1);
    
}
.col-4:hover .player{
    height: 120%;
    border-radius: 30px;
    margin-right: 30px;